body {
  font-family: sans-serif;
}

#config-table {

  border-width: thin;
  border-radius: 5px;
  border-style: groove;
  background-color: #FFC435;
}

td {
  text-align: center;
  height: 55px;
  background-color: #FFEFA5;
  padding:5px;
}

.site-url {
  width: 85%;
}

input[type=checkbox] {
  -moz-transform: scale(2);
}

input:focus {
  background-color: DDDDDD;
}

input[type=text],input[type=number] {
  width:95%;
  font-size: 1em;
  padding: 5px 5px;
  text-align: center;
  border-style: inset;
  border-width: medium;
  -moz-appearance: textfield;
}
