body {
  font-family: sans-serif;
}

#config-table {
  border-width: thin;
  border-radius: 5px;
  border-style: groove;
  table-layout: auto;
  width: 100%;
  background-color: #FFC435;
}

td {
  text-align: center;
  height: 55px;
  background-color: #FFEFA5;
  padding:5px;
}

.site-entry {
  width: 75%;
}

.site-enable {
  width: auto;
}

.site-duration {
  width: auto;
}

input[type=checkbox] {
  -moz-transform: scale(1.5);
}

input[type=text] {
  font-size: 1.5em;
  height: 35px;
  width: 99%;
  text-align: center;
  border-style: inset;
  border-width: medium;
}

input[type=number] {
  font-size: 1.5em;
  margin: 4px;
  height: 35px;
  width: 95%;
  text-align: center;
  border-style: inset;
  border-width: medium;
  -moz-appearance: textfield;
}
